<%- include('./partials/header.ejs') %>
   
<!-- about  -->
<div id="about" class="about">
    <div class="container">
       <div class="row">
          <div class="col-md-12">
             <div class="titlepage">
                <h2>About Informations</h2>
                <span>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, a </span>
             </div>
          </div>
       </div>
    </div>
    <div class="container-fluid">
       <div class="row flexcss">
          <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
             <div class="about-box">
                <h3>distracted by the readable </h3>
                <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, aIt is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, aIt is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of lettersdistracted by the readable distracted by the readable , a</p>
                
             </div>
          </div>
          <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
              <div class="about-img">

                <figure><img src="images/aboutimg.png" alt="img"/></figure>
                
             </div>
            
          </div>
       </div>
      
    </div>
 </div>
 <!-- end abouts -->


<%- include('./partials/footer.ejs') %>